body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Altura del viewport */
    background-color: #f2f2f2;
}

.ticket-container {
    width: 700px; /* ajusta el ancho del ticket */
}


.ticket {
    background-color: white; /* color del ticket */
    /*border: 1px solid black;  borde del ticket */
    padding: 20px; /* espaciado interno del ticket */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* sombreado */
}

.ticket-header {
    background-color: #F4BFAD; /* color del encabezado */
    color: white; /* color del texto */
    padding: 10px;
    margin-bottom: 5px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    position: absolute;
    font-size: 2em;
    top: 0;
    left: 0;
}




.ticket .content {
    text-align: left;
    width: 100%;
}

.ticket img {
    max-width: 80px; /* ajusta el tamaño de la imagen */
    height: auto;
}
.ticket .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ticket .item .concept::after {
    content: " . . ."; /* Puntos suspensivos después del concepto */
}

.ticket .item .value {
    margin-left: auto; /* Alinea los valores a la derecha */
}


/* ... (tu CSS actual) */

.ticket .content p strong {
    font-weight: bold; /* Hace que la palabra 'Productos' esté en negrita */
}

/* Estilo para la línea divisoria */
.ticket .content .divider {
    border-top: 1px solid #ccc; /* Línea divisoria */
    margin-top: 10px;
    margin-bottom: 20px;
    width: calc(100% - 50px); /* Ancho del 100% menos 50px de margen para ajustar */
}



@import url('../styles/navbar.css');
@import url('../styles/card.css');
@import url('../styles/footer.css');
@import url('../styles/body.css');
@import url('../styles/backgrounds.css');
@import url('../styles/breakpoints.css');
@import url('../styles/hero.css');

/* ==================== MULTI-SELECT =================== */



.uploadlabel {
    width: 50%;
    height: 50%;
    background: #f2f2f2;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.uploadlabel i {
    font-size: 70px;
    color: var(--dark-color);
}

.uploadlabel p {
    color: var(--dark-color);
    font-size: 20px;
    font-weight: 500;
}

/* // Estilo para las imágenes previas */
.preview-img {
  max-width: 130px;
  max-height: 130px;
  border-radius: 15px;
  margin-right: 10px;
  margin-top: 10px;
}

/* ======================= CARD ============================== */

.card-body {
    background-color: #F2F2F2;
}

.card {
    border: none;
    box-shadow: 1px 1px 5px #dadce3;
    width: 100%;
}

.card-title {
    font-weight: 500;
}

/* ==================== MULTI-SELECT =================== */

.select2-container--default .select2-selection--multiple {
    background-color: white;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    cursor: text;
}


.profile_Section {
    background-color: #F5DABD;
}

.background {
    background-color: #ffffff;
}

.capa {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #B7CBBF;
    z-index: -1;
    top: 0;
    left: 0;
}

.btn-menu {
    position: absolute;
    top: 24px;
    left: 70px;
    z-index: 10001;
}

.search-bar {
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
}

.add {
    margin-bottom: 50px;
}

.btn-menu label {
    font-size: 25px;
    cursor: pointer;
}

#btn-menu {
    display: none;
}

.container-menu label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 20px;
}

.container-menu {
    position: fixed;
    background: #00000080;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
    z-index: 9999;
}

#btn-menu:checked~.container-menu {
    opacity: 1;
    visibility: visible;
}

.cont-menu {
    width: 100%;
    max-width: 250px;
    background: #00000080;
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-250px);
    z-index: 10000;
}

#btn-menu:checked~.container-menu .cont-menu {
    transform: translateX(0%);
}

.cont-menu nav a {
    display: block;
    text-decoration: none;
    padding: 10px 20px;
    color: #424242;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
    font-size: 15px;
    margin-right: 5px;
}

.cont-menu nav a+a {
    margin-top: 10px;
}

.cont-menu nav a:hover {
    border-left: 15px solid #111111;
    background: #1f1f1f;
}

:root {
    --primary-color: #F5DABD;
    --secondary-color: #F4BFAD;
    --accent-color: #020202;
    --dark-color: #000000;
    --light-color: #ffffff;
}

nav {
    background-color: var(--primary-color);
}

.navbar-brand {
    color: var(--light-color);
    font-size: 1000;
    font-weight: 5000;
    margin-left: 30px;
}

.footer {
    color: #B7CBBF;
    margin-top: auto;
}

.main {
    padding-bottom: 100px;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: var(--dark-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.bg-tertiary {
    background-color: var(--light-color);
}

.bg-primary {
    background-color: var(--primary-color) !important;
}

.border-primary {
    border-color: var(--primary-color) !important;
}

.btn-secondary {
    --bs-btn-color: white;
    --bs-btn-bg: var(--secondary-color);
    --bs-btn-border-color: none;
    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: var(--accent-color);
    --bs-btn-hover-border-color: none;
    --bs-btn-focus-shadow-rgb: none;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--secondary-color);
    --bs-btn-active-border-color: none;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #6c757d;
    --bs-btn-disabled-border-color: none;
}



/*================= FOOTER =====================  */


.container-fluid footer {
    background-color: #B7CBBF;
    color: #ffffff;
}

/* -----------------SWITCH ---------*/


/* Estilos para el interruptor */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Estilos para el input oculto */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* Estilos para la bolita */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #B7CBBF;
    -webkit-transition: .4s;
    transition: .4s;
}

/* Estilos para la bolita cuando está activada */
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

/* Estilos para el interruptor cuando está activado */
input:checked+.slider {
    background-color: #F4BFAD;
}

/* Estilos para la bolita cuando está activada */
input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Estilos para el texto del interruptor */
.slider.round {
    border-radius: 34px;
}

/* Estilos para la bolita redonda */
.slider.round:before {
    border-radius: 50%;
}



h1 {
    text-align: center;
}



label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #F4BFAD;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #B7CBBF;
}